/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
body {
    background-color: #f3f2ef;
    
}

div.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

div.form-heading {
    display:flex;
    flex-flow:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
}

.form-title{

}

.form-message{
    font-size: 14px;
}


.form-div{
    padding: 2em;
    width: 450px;
    border-radius: 10px;
}

.footer {
    background-color: #fff;
    height: 10vh;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
=======

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
>>>>>>> 516091155e11fad89185cb8a631997976f10528f
}

/* Provide sufficient contrast against white background */
a {
<<<<<<< HEAD
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
=======
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
>>>>>>> 516091155e11fad89185cb8a631997976f10528f
}

/* Sticky footer styles
-------------------------------------------------- */
html {
<<<<<<< HEAD
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
=======
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
>>>>>>> 516091155e11fad89185cb8a631997976f10528f
}

/* Sticky footer styles
-------------------------------------------------- */
html {
<<<<<<< HEAD
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
=======
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
>>>>>>> 516091155e11fad89185cb8a631997976f10528f
}
